# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.tmp
.storage
*.log

# Node and React ignores
node_modules
build

# IDEs
.idea

# chatbot stuff
**/.ai

# Test coverage
**/.coverage
